.navbar {
  background-color: map-get($palette, colornav);

  .logo {
    width: 200px;
  }
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.servicios {
  width: 100%;

  .titulo_index {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    padding: 2rem;

  }
}

main {
  .titulo_index2 {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
  }

  .titulo_index3 {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
  }

  .noticia1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .noticia1img {
      height: 300px;
      width: 300px;
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .noticia1{
    display: flex;
    flex-direction: column;
    align-items: center;  

    .noticia1img {
      height: 200px;
      width: 200px;
    }
  }
}