@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
/*MAP aplico en index*/
/* .sss{
  background-color: map-get($palette, colorBody);
} */
/*EXTEND aplicado en .div__text y en el newsletter*/
/* @extend ; */
/*MIXIN*/
/*aplicado en _pagmarcas.scss card__info y en _index.scss newsletter*/
.navbar {
  background-color: #000;
}
.navbar .logo {
  width: 200px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.servicios {
  width: 100%;
}
.servicios .titulo_index {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  padding: 2rem;
}

main .titulo_index2 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
main .titulo_index3 {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}
main .noticia1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .noticia1 .noticia1img {
  height: 400px;
  width: 400px;
}

.nosotros {
  height: 100vh;
  background-image: url(../img/nosotros.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.nosotros .texto__nosotros1 {
  margin-top: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 900;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
}
.nosotros .texto__nosotros {
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2rem;
  margin-bottom: 2rem;
}
.nosotros .logo_nosotros {
  width: 900px;
}

.card__catalogo {
  padding: 20px;
  display: flex;
  gap: 50px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.card__catalogo .card__producto {
  color: #fff;
  border: solid 2px #000;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__catalogo .card__img {
  height: 150px;
  max-width: 150px;
}
.card__catalogo .card__info {
  padding: 0 10px 10px 10px;
  flex-direction: column;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card__catalogo .card__info .card__titulo {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.card__catalogo .card__info a {
  color: #fff;
}
.card__catalogo .card__efectohover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.card__catalogo .card__efectohover:hover {
  transform: translateY(-3%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 360px) {
  .card__catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 900px;
    margin-bottom: 90rem;
  }
}
@media only screen and (max-width: 600px) {
  .card__catalogo {
    grid-template-columns: repeat(3, 1fr);
    max-height: 900px;
    margin-bottom: 50rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .card__catalogo {
    grid-template-columns: repeat(3, 1fr);
    max-height: 900px;
    margin-bottom: 50rem;
  }
}
@media only screen and (min-width: 768px) {
  .card__catalogo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    margin-bottom: 30rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card__catalogo {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 250px);
    margin-bottom: 10rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
*::-moz-selection {
  background-color: rgb(128, 24, 255);
  color: #fff;
}
*::selection {
  background-color: rgb(128, 24, 255);
  color: #fff;
}

.formulario {
  background-image: url(/img/soporte.jpg);
  background-position: center;
  background-size: cover;
}
.formulario form {
  height: 100vh;
}/*# sourceMappingURL=estilos.css.map */